* {
    margin: 0;
}

::selection {
    color: #000000;
    background: yellow;
}

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: yellow;
}
h1, h2, h3, h4, h5, h6, a, p, li { font-family: 'Roboto', sans-serif; }

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALElEQVQoU2NkIAIwEqGGgWxFxgwMDGeRbUA3CaYARSE26wiahNUfZDscwzQAjxwECjNpgnwAAAAASUVORK5CYII=) repeat;
}
/* HELPERS */

.border {
    border: 1px solid black;
}

.border.smooth {
    border-radius: 2px;
}

.main-header {
    position: relative;
    text-align: center;
    font-weight: 100;
    font-size: 4vw;
    height: 30rem;
    transition: height 0.3s;
    border-bottom: 1px solid black;
    background: white;
}

.main-header h1 {
    position: relative;
    color: white;
    line-height: 30rem;
    height: 30rem;
    z-index: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-header .overlay{
    position: absolute;
    height: 30rem;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUElEQVQoU43Q0Q2AMAiEYW4M3X82HeNvMKFp9FrLI/mOAIoIgDNMSbqrLeCQdDn8gZly2EKHp/CNl3DEv7Bwrt6vdm8ZehTuiUXgwTswZ9AAm880CsOOHA8AAAAASUVORK5CYII=) repeat;
    top: 0;
    left: 0;
    transition: height 0.3s;
    z-index: 1;
}

.section {
    padding: 2rem;
    margin: 4rem auto;
    max-width: 800px;
    background: white;
    transition: all 0.3s;
    box-shadow: 2px 2px 0px 2px black;
}

.section:hover {
    box-shadow: 10px 10px 0px 5px black;
}

.section p {
    text-align: justify;
}

.section .section-header h1{
    text-decoration: underline;
    margin-bottom: 1rem;
 }

.section h2{
    padding: 0 0.5rem 0;
    font-weight: 100;
    font-size: 1rem;
}

.section h3{
    font-weight: 100;
    color: #232323;
    font-size: 1.5rem;
    margin-top: 1rem;
}


.section-social{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0;
}

.section-social li {
    margin: 10px 5px 5px 5px;
}

.section-social li a {
    display: block;
    padding: 1rem;
    color: black;
    transition: all 0.2s;
    text-decoration: none;
}

.section-social li a:hover  {
    background: #303030;
}

.section-social li a p {
    padding-left: 2rem;
}

.section-social li a i {
    color: #545454;
    float: left;
}

.grid {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.grid h1 {
    display: block;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
}

.grid h2 {
    display: block;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

.grid li {
    margin-bottom: 1rem;
    width: 100%;
}

.grid li p {
    padding: 1rem;
}

.grid li p a {
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

.grid li p a:hover {
    background: #2e2e2e;
}


@media screen and (max-width: 797px) {
    .main-header {
        height: 15rem;
        font-size: 6vw;
    }

    .main-header h1 {
        line-height: 15rem;
        height: 15rem;
    }

    .main-header .overlay{
        height: 15rem;
    }

    .section {
        padding: 1rem;
        margin: 3rem 1rem;
        max-width: 800px;
    }
}
