/* Base Styles */

* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, p, li { font-family: 'Roboto', sans-serif; }
li, a, li a { transition: all 0.2s;  }
p a {color: black;  font-weight: 700;  text-decoration: none;  }
a:hover, a:focus{ outline: none; background: yellow;  }
p a, .experience li a{color: black;  font-weight: 500;  text-decoration: none;  }
li a:hover, a:hover, li a:focus, a:focus{ font-weight: 900; }
body { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALElEQVQoU2NkIAIwEqGGgWxFxgwMDGeRbUA3CaYARSE26wiahNUfZDscwzQAjxwECjNpgnwAAAAASUVORK5CYII=) repeat;  }

/* Highlight */
::selection { color: black;  background: yellow; }
::-moz-selection { color: black;  background: yellow; }
.yellow::selection { color: yellow;  background: black; }
.yellow::-moz-selection { color: yellow;  background: black; }

/* Helpers */
.border {border: 1px solid black;  }
.border.smooth {border-radius: 2px;  }

.section-shadow {
    box-shadow: 10px 10px 0 5px black !important;
    outline: none;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.disabled-link{
    pointer-events: none;
}

.source-yes{
    color: green;
}

.source-no{
    color: red;
}

/* Header */
.main-header {
    position: relative;
    text-align: center;
    font-weight: 100;
    font-size: 4vw;
    height: 30rem;
    transition: height 0.3s;
    border-bottom: 1px solid black;
    background: white;
}

.main-header h1 {
    display: inline;
    position: relative;
    color: white;
    background: rgba(0,210,255,0.2);
    line-height: 30rem;
    height: 30rem;
    z-index: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: background 0.3s;
}


.main-header .overlay{
    position: absolute;
    height: 30rem;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUElEQVQoU43Q0Q2AMAiEYW4M3X82HeNvMKFp9FrLI/mOAIoIgDNMSbqrLeCQdDn8gZly2EKHp/CNl3DEv7Bwrt6vdm8ZehTuiUXgwTswZ9AAm880CsOOHA8AAAAASUVORK5CYII=) repeat;
    top: 0;
    left: 0;
    transition: height 0.3s;
    z-index: 1;
}

/* Information section */
.section {
    padding: 2rem;
    margin: 4rem auto;
    max-width: 800px;
    background: white;
    transition: all 0.3s;
    box-shadow: 2px 2px 0 2px black;
}

.section p {
    text-align: justify;
}

.section .section-header h1{
    background: white;
    text-decoration: underline;
    margin-bottom: 1rem;
    display: inline-block;
    transition: background 0.3s;
 }

.section-social{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0;
}

.section-social li {
    margin: 10px 5px 5px 5px;
    transition: all 0.2s;
}

.section-social li:hover, .section-social li:active, .section-social li:focus  {
    border: 1px solid black;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-radius: 2px 0 0 0;
    outline: none;
}

.section-social li a {
    display: block;
    padding: 1rem;
    color: black;
    transition: all 0.2s;
    text-decoration: none;
}

.section-social li a p {
    padding-left: 2rem;
}

.section-social li a i {
    color: #545454;
    float: left;
}

/* Language */

.language-stats {
    list-style: none;
    margin: 0;
    height: 25px;
    padding: 5px 2rem 2rem;
}

.language-stats li {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    transition: width 0s;
    /*color: white;*/
}

.language-stats li:hover, .source-stats li:hover{
    border: none !important;
}

.language-stats li span{
    font-weight: 800;
}

.language-stats li span.lang-percentage {
    color: rgba(0, 0, 0, 0.58);
    font-weight: 400;
}

.lang-js{
    border-bottom: 5px solid #fff76c;
}

.lang-css{
    border-bottom: 5px solid #803978;
}

.lang-html{
    border-bottom: 5px solid #ff5346;
}

.lang-php{
    border-bottom: 5px solid #508db4;
}

.lang-csharp{
    border-bottom: 5px solid #42b458;
}

.source-stats{
    list-style: none;
    margin: 0;
    height: 25px;
    padding: 5px 2rem 2rem;
}

ul.source-stats li{
    display: inline-block;
    width: 50%;
    text-align: center;
}

ul.source-stats li h2{
    padding: 0;
}
/* Project grid */

.grid {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.grid h1 {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.grid h2 {
    display: block;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

.grid li {
    margin-bottom: 1rem;
    width: 100%;
}

.grid li:hover, .grid li:active{
    border: 1px solid black;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-radius: 2px 0 0 0;
}

.grid li p {
    padding: 1rem;
}

.grid li p a {
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

.grid li p a:hover, .grid li p a:active {
    border: 1px solid black;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-radius: 2px 0 0 0;
}

/* Mobile Style */
@media screen and (max-width: 910px) {
    .main-header {
        height: 15rem;
        font-size: 6vw;
    }

    .main-header h1 {
        line-height: 15rem;
        height: 15rem;
    }

    .main-header .overlay{
        height: 15rem;
    }

    .section {
        padding: 1rem;
        margin: 3rem 1rem;
        max-width: 800px;
    }

    .section-shadow {
        box-shadow: 10px 10px 0 0 black !important;
        outline: none;
    }

    .language-stats {
        padding: 5px 25px;
    }

    .source-stats {
        padding: 5px 5px 2rem;
    }

}
